---
title: Contact
layout: default
bodyClass: "page-contact"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                {% include call.html show_button=false %}
                <div class="content mt-4">{{content}}</div>
                <!-- modify this form HTML and place wherever you want your form -->
                <style>
                    * {
                      box-sizing: border-box;
                    }
                    
                    input[type=text], select, textarea {
                      width: 100%;
                      padding: 12px;
                      border: 1px solid #ccc;
                      border-radius: 4px;
                      resize: vertical;
                    }
                    
                    label {
                      padding: 12px 12px 12px 0;
                      display: inline-block;
                    }
                    
                    input[type=submit] {
                      background-color: #04AA6D;
                      color: white;
                      padding: 12px 20px;
                      border: none;
                      border-radius: 4px;
                      cursor: pointer;
                      float: right;
                    }
                    
                    input[type=submit]:hover {
                      background-color: #45a049;
                    }
                    
                 
                    
                    .col-25 {
                      float: left;
                      width: 25%;
                      margin-top: 6px;
                    }
                    
                    .col-75 {
                      float: left;
                      width: 75%;
                      margin-top: 6px;
                    }
                    
                    /* Clear floats after the columns */
                    .row:after {
                      content: "";
                      display: table;
                      clear: both;
                    }
                    
                    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
                    @media screen and (max-width: 600px) {
                      .col-25, .col-75, input[type=submit] {
                        width: 100%;
                        margin-top: 0;
                      }
                    }
                    </style>
                    <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                        region: "eu1",
                        portalId: "139844775",
                        formId: "6babdc31-61b9-4a2a-b4ad-7f30a3d51e71"
                      });
                    </script>
<form id="my-form" action="https://formspree.io/f/xyyagdan" method="POST">
    <div class="row">
        <div class="col-25">
          <label for="fname">Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="name" placeholder="Your name..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Email</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="email" placeholder="Your email..">
        </div>
      </div>
   
      <div class="row">
        <div class="col-25">
          <label for="subject">Message</label>
        </div>
        <div class="col-75">
          <textarea id="message" name="message" placeholder="Let us know what you need.." style="height:200px"></textarea>
        </div>
      </div>

<div>
    <button id="my-form-button" type="submit">Submit</button>
</div>
    <p id="my-form-status"></p>
  </form>
  <!-- Place this script at the end of the body tag -->
  <script>
      var form = document.getElementById("my-form");
      
      async function handleSubmit(event) {
        event.preventDefault();
        var status = document.getElementById("my-form-status");
        var data = new FormData(event.target);
        fetch(event.target.action, {
          method: form.method,
          body: data,
          headers: {
              'Accept': 'application/json'
          }
        }).then(response => {
          if (response.ok) {
            status.innerHTML = "Thanks for your submission!";
            form.reset()
          } else {
            response.json().then(data => {
              if (Object.hasOwn(data, 'errors')) {
                status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
              } else {
                status.innerHTML = "Oops! There was a problem submitting your form"
              }
            })
          }
        }).catch(error => {
          status.innerHTML = "Oops! There was a problem submitting your form"
        });
      }
      form.addEventListener("submit", handleSubmit)
  </script>
            </div>
        </div>
    </div>
</div>
